.p_bottom_prev_next_button_hide_mobile {
    :global {
        @media (max-width: 767px) {
            padding-bottom: 56px;

            .swiper-button-prev,
            .swiper-button-next {
                display: none;
            }

            .swiper-pagination {
                bottom: 17px !important;
            }
        }
    }
}